<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Timetable</title>

        <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.1/build/pure-min.css"
              integrity="sha384-oAOxQR6DkCoMliIh8yFnu25d7Eq/PHS21PClpwjOTeU2jRSq11vu66rf90/cZr47"
              crossorigin="anonymous">

        <style>
            .container {
                margin: 0 auto;
                max-width: 1024px;
            }

            table {
                width: 100%;
            }

            table td {
                vertical-align: top;
            }

            table td.trainArrival, table td.trainDeparture {
                width: 3em;
            }

            table td.trainName {
                width: 12em;
            }

            table td.trainPlatform {
                width: 2.5em;
            }

            table td.trainOperator {
                width: 5em;
            }

            table td.journeyStep {
                width: 2.5em;
                vertical-align: middle;
                text-align: center;
            }
        </style>
    </head>
    <body>
        <div class="container">
            <h1>Timetable</h1>

            <form class="pure-form pure-form-aligned" action="#" th:action="@{/}" th:object="${timetable}" method="post">
                <fieldset>
                    <div class="pure-control-group">
                        <label for="from">From</label>
                        <input id="from" type="text" placeholder="From" th:field="*{from}" th:value="*{from}">
                    </div>

                    <div class="pure-control-group">
                        <label for="to">To</label>
                        <input id="to" type="text" placeholder="To" th:field="*{to}" th:value="*{to}">
                    </div>

                    <div class="pure-control-group">
                        <label for="when">When</label>
                        <input id="when" type="datetime-local" placeholder="When" th:field="*{when}" th:value="*{when}">
                    </div>

                    <div class="pure-controls">
                        <button type="submit" class="pure-button pure-button-primary">Search</button>
                    </div>
                </fieldset>
            </form>

            <table th:if="${timetable.connections} != null" class="pure-table pure-table-bordered">
                <thead>
                <tr>
                    <th>
                        Departure
                    </th>
                    <th>
                        Arrival
                    </th>
                    <th>
                        Platform
                    </th>
                    <th>
                        Journey Steps
                    </th>
                </tr>
                </thead>
                <tbody>
                    <tr th:each="connection : ${timetable.connections}" th:class="${connectionStat.odd}?'pure-table-odd'">
                        <td th:text="${#temporals.format(connection.departure, 'HH:mm')}">
                        <td th:text="${#temporals.format(connection.arrival, 'HH:mm')}">
                        <td th:text="${connection.platform}">
                        <td>
                            <table class="pure-table">
                                <tbody>
                                    <tr>
                                        <td class="journeyStep">Step</td>
                                        <td class="trainName">Connection</td>
                                        <td class="trainDeparture">Dep</td>
                                        <td class="trainPlatform">Pl</td>
                                        <td class="trainOperator">Operator</td>
                                        <td class="trainArrival">Arr</td>
                                    </tr>
                                </tbody>
                            </table>

                            <th:block th:each="journeyStep : ${connection.journeySteps}">
                                <p th:if="${journeyStepStat.count} > 1" style="text-align: center">↓</p>
                                <table class="pure-table" style="margin-top: 1em">
                                    <tbody>
                                    <tr>
                                        <td class="journeyStep" th:rowspan="${journeyStep.train} != null ? 3 : 2" th:text="${journeyStepStat.count}">
                                        <td colspan="5" th:text="${journeyStep.from} + ' → ' + ${journeyStep.to}">
                                    </tr>
                                    <tr>
                                        <td class="trainName" th:text="${journeyStep.product} + ' (' + ${journeyStep.trainName} + ')'">
                                        <td class="trainDeparture" th:text="${#temporals.format(journeyStep.departure, 'HH:mm')}">
                                        <td class="trainPlatform" th:text="${journeyStep.platform}">
                                        <td class="trainOperator" th:text="${journeyStep.operator}">
                                        <td class="trainArrival" th:text="${#temporals.format(journeyStep.arrival, 'HH:mm')}">
                                    </tr>
                                    <tr th:if="${journeyStep.train} != null">
                                        <td colspan="5" th:text="${journeyStep.train}">
                                    </tr>
                                    </tbody>
                                </table>
                            </th:block>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </body>
</html>